[Unit]
Description=Gunicorn instance to serve QuickOrder POS
After=network.target

[Service]
# Sau này thay YOUR_USER bằng user trên VPS
User=root
Group=www-data
WorkingDirectory=/root/Projects/QuickOrder/server
Environment="PATH=/root/Projects/QuickOrder/server/venv/bin"
# Chạy Gunicorn với file config đã tạo ở bước 2
ExecStart=/root/Projects/QuickOrder/server/venv/bin/gunicorn -c gunicorn.conf.py run:app

# Tự động khởi động lại nếu bị crash
Restart=always

[Install]
WantedBy=multi-user.target